
.social {
    display: flex;
    column-gap: 8px;
    margin-top: 24px;
}

.social__link {
    width: 46px;
    height: 46px;

    background: var(--background-body);
    border-radius: 4px;
    color: var(--secondary);

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
}

.social__link:hover {
    color: #fff;

    background: var(--link);
    transform: translateY(-12px);
}

.social__link i {
    font-size: 22px;
}